<% provide(:title, 'Contact us') %>
<div class="container">	
	<div class="contact">	
		<h2>CONTACT</h2>		
		<div class="contact-grids">
			<div class="contact-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.8154570098377!2d85.80539354996586!3d20.3492410159375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1908e025984c55%3A0xee1fcd1f11e55141!2sDLF+CYBER+CITY!5e0!3m2!1sen!2sin!4v1460461377203"></iframe>
			</div>
			<div class="top-contact">
				<div class=" col-md-3 contact-right">
		     	<h3> Mindfire Solutions </h3>
			   	<p> DLF CYBER CITY, </p>
			   	<p> Idco Info Park, </p>
			   	<p> Chandaka Industrial Estate, </p>
			   	<p> Patia, </p> 
			   	<p> Bhubaneswar, </p>
			   	<p> Odisha, </p>
			   	<p> India </p>
		   		<p>Phone:(+91) 1234567890 </p>
			 	 	<p>Email: <a href="mailto:ror.mindfiresolutions@gmail.com">ror.mindfiresolutions@gmail.com</a></p>
			  </div>	
			</div>	
		</div>
	</div>
</div>