<% provide(:title, 'Easy registrations') %>
<div class = 'container'>
	<h3> Registration Process </h3>
	<div class="col-md-8 top-about">
		<h4> For Regular Customer </h4>
			<p> If you are a Regular Customer then you need to Signup as a Customer giving your credentials i.e. email, password, password confirmation and select role as Customer. Then an email will be sent to the email id which you would had provided during Registration. Check that mail and follow the instructions mentioned there then you can Signin using your email and password. </p>

			<p> During your first Signin you will directed to give your personal information. Please fill that. And in the dropdown menu you can click on address and fill in your multiple addresses in order to give a order.</p>

			<p> You can enter the Pincode of the Shop you want to purchase and give order from in the Search bar above. Different Shops will be shown registered under that Pincode. you can choose your own Shop and start shopping. </p>

		<h4> For Shopkeepers </h4>
			<p> If you want to sell your products in this website then you need to Signup as a Shopkeeper giving your credentials i.e. email, password, password confirmation and select role as Shopkeeper. Then an email will be sent to the email id which you would had provided during Registration. Check that mail and follow the instructions mentioned there then you can Signin using your email and password. </p>

			<p> During your first Signin you will be directed to give your personal information. Please fill that. After that you can to Shop option. On hovering there All Shops option will come. After clicking on that you can Add Shop giving all the details needed there.</p>

			<p> After adding a Shop you have to wait in order to add Products. You can only add Products and sell them if our website admin will approve you. After admin approves you, you can add Products by clicking on Add Product option on your Profile or click on Products in the dropdown. Then add Products by clicking on Add to Inventory. Then set its price and quantity. If you didn't find a Product you want to sell on our website then you can add a Product locally to your shop to sell to your customers. </p>
	</div>
</div>