<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">Edit Shipping Charge</h4>
	  </div>
	  <div class="modal-body">
		<%= form_for @shipping_charge, url: shop_profile_shipping_charge_path(@shop,@shipping_charge),
		class: 'edit-shipping-charge' do |f|%>
			<%= f.number_field :minimum_order_cost, required: true, placeholder: 'from', min: 1 %> To 
			<%= f.number_field :maximum_order_cost, required: true, placeholder: 'upto', min: 1 %>
			<%= f.number_field :shipping_cost , required: true, placeholder: 'Shipping Charge', min: 1 %>
			<button type= 'submit' ><i class="fa fa-plus-square"></i></button>
		<% end %>
		</div>
	</div>
</div> 