<% provide(:title, 'All shops') %>

<table id="shop_profiles"  data-source="<%= shop_index_shop_profiles_path(format: :json) %>">
  <thead>
    <tr>
    	<th> Shop Name </th>
    	<th> Owner </th>
      <th> email </th>
      <th> Phone No. </th>
      <th> Status </th>
    </tr>
  </thead>

  <tbody>
 	</tbody>
</table>



