.shop-details {
  border: 6px solid #f5f6f7;
  background:#f5f6f7;
  padding: 5em 2em 2em;
  margin: 10px; 
  height: 300px;
}

@media screen and (max-width: 375px) and (min-width: 0px){
  .shop-details {
  border: 6px solid #f5f6f7;
  background:#f5f6f7;
  padding: 5em 2em 2em;
  margin: 10px; 
  height: 500px;
  }
}

.shop-details:hover {
  border: 6px solid #aa9b77;
}

.right-button {
	float: right;
	overflow: hidden;	
}

.inline-button {
	display: inline;
	margin-right: 13.5%;
}

h1 {
	text-align: center;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  background-color: #F0F0E9;
  
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
#push{
  margin-top:5vh;
  margin-bottom:7vh;
}

.current {
  color: #FE980F!important;
}

.light-red{
  background-color: #ee5f5b!important;
}

.light-green{
  background-color: #62c462!important;
}

.light-blue{
  background-color: #5bc0de!important;
}
.font-light-red{
  color: #ee5f5b;
}

#list{
  margin-top: 16px;
  margin-right: 10px;
  height: 32px;
}

@media (max-width:800px) {
  #slider-carousel {
   display:none !important;
  }
}

/*devise flash messages*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
.edit_shipping_charge{
  width: 70%;
}

.edit_button{
  width: auto;
  float: right;
  margin-top: -20px;
  margin-right: 37%;
}

.delete_button{
  width: auto;
  float: right;
  margin-top: -20px;
  margin-right: 35%;
}

@media screen and (max-width: 672px) and (min-width: 0px){
  .button_to{
    float: left;
    margin-top: 0px;
    margin-right: 0%;
    width: auto;
    display: block;
  }
}

.button_link {
  background:none!important;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
  float: right;
  margin-right: 35%;
}

.no_button{
  background:none!important;
  border:none; 
  font: inherit;
  /*border is optional*/
  cursor: pointer;
  height: 50px;
}

@media screen and (max-width: 672px) and (min-width: 0px){
  .button_link {
    float: left;
    margin-right: 0%;
    margin-top: 23px;
  } 
}
@media screen and (max-width: 672px) and (min-width: 0px){
  html{
    margin-bottom: 130px;
  }
}  

.search-div{
  padding-bottom: 30px;
}

.navbar-collapse.in {
  overflow-y: visible!important;
}

.delete-button{
  position: absolute;
  top: -16px;
  right: 0;
  opacity: .4;
}

.delete-button:hover{
  position: absolute;
  top: -16px;
  right: 0;
  opacity: 1;
}

.field_with_errors {
  display: inline;
}

.address-container{
  position: relative;
  height: auto;
  width: auto;
}
