.thumb-image {
	width: 150px;
  height: 150px;
  vertical-align: middle;
  text-align: center;
}

.about-image {
  width:345px;
  height:370px;
}

.banner-image {
	width:100%;
	height:100%;
}

.product-row {
  padding-right: 330px;
  overflow: hidden;
}

.product-col {
  float: left;
  width: 100%;
  background-color: #fff;
}

