.invoice-th {
  font-family: 'Orbitron';
  color: grey;
  width: 20%;
  text-align: left;

}

.invoice-td {
	font-family: 'Orbitron';
  width: 20%;
  height: 50px;
  float: right;
  text-align: left;
}

.invoice-p {
	font-family: 'Orbitron';
}

.invoice-div{
	float: center; 
}

.invoice-footer{
	bottom: 0;
}